body{
    background-color: #004b5c;
    margin-top: 0;
}

.header{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0px;
    border-radius: 0px 0px 25px 25px;
    background-color: #4b656b;
    text-align: center;
}