body{
    background-color: #535353;
    margin-top: 50px;
    font-family: Tahoma, sans-serif;
}

.header{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0px;
    text-align: center;
}

div{
    background-color: #939A9B;
    border-radius: 25px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 5px;
    text-align: center;
}

button{
    width: 210px;
    height: 50;
    font-size: 25;
    margin-left: 50px;
    border-radius: 25px;
    background-color: #B4B4B4;
}

hr {
    border-color: black;
}

img {
    width: 40%;
    float: right;
    margin-top: 18.72px;
}
h3 {
    margin-left: 5%;
    margin-right: 5%;
}
