body{
    margin-top: 200px;
    font-family: Tahoma, sans-serif;
}

.header{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0px;
    text-align: center;
}

.MainBody{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 0px;
    margin-bottom: 5%;
    padding: 5px;
    text-align: left;
}

button{
    width: 150px;
    height: 50;
    border-color: white;
    font-size: 25;
}

hr {
    color: black;
}

img {
    width: 40%;
    float: right;
    margin-top: 18.72px;
    margin-bottom: 21;
}
